<form id="" action="." method="POST">
    <fieldset>
        <legend>Detalhes do contato</legend>
        <div>
            <label for="nome">Nome:</label>
            <input name="nome" type="text" placeholder="Nome do contato" required autofocus>
        </div>
        <div>
            <label for="email">email:</label>
            <input name="email" type="email" placeholder="email do contato" required autofocus>
        </div>
        <div>

            <label for="twitter">twitter:</label>
            <input name="twitter" type="text" placeholder="twitter do contato" required>
        </div>
        <div>
            <input name="submit" type="submit" value="Enviar">
        </div>
    </fieldset>
</form>